[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
pillow = "*"
django-countries = "*"
whitenoise = "*"
ippanel = "*"
django-seed = "*"
psycopg2 = "*"

[dev-packages]
flake8 = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.12"
