{% extends "base.html" %}
{% load static %}

{% block title %}
Home
{% endblock title %}

{% block content %}
<h1>Room Listings</h1>

{% for room in rooms %}
    <div class="room">
        <p>{{ room }}</p>
    </div>
{% endfor %}

<div class="pagination">
    
    
    {% if rooms.has_previous %}
    <a href="?page={{ rooms.previous_page_number }}">Previous</a>
    {% endif %}
    {{rooms}}
    {% if rooms.has_next %}
        <a href="?page={{ rooms.next_page_number }}">Next</a>
    {% endif %}
</div>

{% endblock content %}
