{% extends "base.html" %}
{% block title %}
Search
{% endblock title %}
{% block content %}

<form action="{% url 'rooms:search' %}" method="get">
{{form.as_p}}
    <button type="submit">Search</button>
</form>
{% for room in rooms %}
<p>
    <a href="{% url "rooms:detail" room.id %}"> {{room}}</a>
</p>
{% endfor %}
<div>
    {% if is_paginated %}
        <div>
            {% if rooms.has_previous %}
                <a href="?page={{ rooms.previous_page_number }}">Previous</a>
            {% endif %}
            Page {{ rooms.number }} of {{ rooms.paginator.num_pages }}
            {% if rooms.has_next %}
                <a href="?page={{ rooms.next_page_number }}">Next</a>
            {% endif %}
        </div>
    {% endif %}
</div>


{% endblock content %}