<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock title%} | MADASS</title>
</head>

<body>
    <header>
        {% block search_bar %}
            <form method='get' action="{% url "rooms:search" %}">
                <input name='q' placeholder="Search">
            </form>
        {% endblock search_bar %}
        {% include "partials/header.html" %}
    </header>
    {%block content%}
    {%endblock content%}
    {% include "partials/footer.html" %}
</body>

</html>